.conteiner {
  display: flex;
  justify-content: center; /* Alinha horizontalmente o contêiner flex */
  align-items: center; /* Alinha verticalmente o contêiner flex */
  background: white; /* Cor de fundo para destacar o texto */
}

.dinamico {
  display: flex;
  justify-content: space-evenly; /* Espaça as palavras uniformemente */
  margin-top: 30px;
  padding: 0;
  list-style: none;
  width: 100%;
  padding-left: 100px;
  padding-right: 110px;
  /* Ajuste o padding para garantir espaço nas laterais */
}

.dinamico li {
  font-size: calc(64px); /* Tamanho de fonte responsivo */
  font-weight: bold;
  color: white; /* Cor inicial do texto */
  text-shadow:
    1px 1px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000; /* Ajuste o tamanho e a cor da borda */
  animation: fadeInColor 5s infinite; /* Animação contínua de cor */
  white-space: nowrap; /* Evita quebra de linha */
}

/* Classe específica para a primeira palavra */
.dinamico li.first {
  animation-delay: 0s; /* Início imediato */
}

/* Classe específica para a segunda palavra */
.dinamico li.second {
  animation-delay: 1.5s; /* Início após 1.5 segundos */
}

/* Classe específica para a terceira palavra */
.dinamico li.third {
  animation-delay: 3s; /* Início após 3 segundos */
}

/* Ajuste o tamanho das fontes para diferentes tamanhos de tela */
@media (max-width: 1400px) {
  .dinamico li {
    font-size: 50px;
  }
  .dinamico {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 1000px) {
  .dinamico li {
    font-size: 40px;
    justify-content: center;
  }
}

@media (max-width: 600px) {
  .dinamico {
    flex-direction: column; /* Empilha as palavras verticalmente */
    justify-content: center; /* Centraliza verticalmente as palavras */
    padding: 0; /* Remove o padding lateral */
  }

  .dinamico li {
    font-size: 3rem; /* Tamanho fixo da fonte em dispositivos móveis */
    margin: 10px 0; /* Espaço entre as palavras */
    text-align: center; /* Centraliza o texto horizontalmente */
    width: 100%; /* Garante que as palavras ocupem toda a largura disponível */
  }
}

/* Animação para o modo claro */
@keyframes fadeInColor {
  0% {
    color: white; /* Cor inicial do texto */
  }
  50% {
    color: black; /* Texto fica preto no meio da animação */
  }
  100% {
    color: white; /* Texto volta a ser branco no final */
  }
}

/* Estilos para o modo escuro */
@media (prefers-color-scheme: dark) {
  .conteiner {
    background: #121212; /* Cor de fundo escura */
  }

  .dinamico li {
    color: rgba(58, 59, 62, 1); /* Cor inicial do texto no modo escuro */
    text-shadow:
      1px 1px 0 #fff,
      -1px -1px 0 #fff,
      1px -1px 0 #fff,
      -1px 1px 0 #fff; /* Sombra do texto ajustada para o modo escuro */
    animation: fadeInColorDark 5s infinite; /* Animação para o modo escuro */
  }
}

/* Animação para o modo escuro */
@keyframes fadeInColorDark {
  0% {
    color: rgba(58, 59, 62, 1); /* Cor inicial do texto no modo escuro */
  }
  50% {
    color:white; /* Texto fica um tom mais claro no meio da animação */
  }
  100% {
    color: rgba(58, 59, 62, 1); /* Texto volta à cor inicial no final */
  }
}
