/* Adicione isso ao seu arquivo de estilos CSS */
select {
    position: relative;
}

select option {
    padding-left: 30px; /* Espaço para a bolinha */
}

select option::before {
    content: '';
    position: absolute;
    left: 5px; /* Espaçamento da bolinha a partir da borda esquerda */
    width: 20px;
    height: 20px;
    border-radius: 50%; /* Faz a bolinha redonda */
    background-color: transparent; /* Inicialmente transparente */
    top: 50%;
    transform: translateY(-50%); /* Centraliza verticalmente */
}

.color-option[data-color="#10AAFD"]::before {
    background-color: #10AAFD;
}

.color-option[data-color="#C535BC"]::before {
    background-color: #C535BC;
}

.color-option[data-color="#219557"]::before {
    background-color: #219557;
}

.color-option[data-color="#2E3033"]::before {
    background-color: #2E3033;
}
